.upper-bar button:hover{
  transform: scale(1.1);
}

.side-bar-section:nth-of-type(2) a:hover img{
  filter:none;
}

.side-bar-section a:hover span{
  color:white;
}

.side-bar-section a:hover{
  color:white;
}

.add-playlist:hover div{
  background-color:white;
}

.add-playlist:hover a{
  color:white;
}

.nav-bar a:hover{
  color:white;
}

.box-image:hover .box-overlay{
  opacity: 100%;
  cursor:pointer;
}

.box-image:not(.artist-box) .overlay-button:hover{
  transform: scale(1.2);
}

.box-image:hover .overlay-button{
  bottom:30px;
  cursor:pointer;
}

.artist-box:hover .overlay-button{
  bottom: 50%;
}

.song-name:hover a{
  text-decoration: underline;
  color:white;
}

.play-bar-actions button:hover span{
  color:white;
}

.play-bar-buttons .fa-play-circle:hover{
  transform: scale(1.2);
}

.progression-bar:hover .progression-bar-status{
  background-color:#adff2f;
}

.progression-bar:hover .progression-bar-status:after{
  content: "";
  width: 20px;
  height:20px;
  background-color: white;
  border-radius: 50%;
  position:absolute;
  right:0;
  top:50%;
  transform: translate(50%,-50%);
}