*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5{
  color:#ffffff;
}

h5{
  font-size: 10px;
}

span{
  color:#878787;
}

button{
  background-color: transparent;
  color:white;
  border:none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color:#878787;
}

ul{
  list-style: none;
}