@media screen and (max-width:576px){

  .logo-large{
    display:none;
  }

  .side-bar span{
    display:none;
  }

  .side-bar-section:nth-of-type(2){
    flex-grow:1;
  }

  .side-bar-section:nth-of-type(3),.side-bar-section:nth-of-type(4){
    display: none;
  }

  .side-bar{
    padding:10px;
  }
  
.logo-small{
  display:block;
}

.side-bar-download{
  border:0;
}

.user-name{
  display:none;
}

.box-container{
  max-width: calc(100% / 2 - 30px);
}

.play-bar-image img{
  max-width: 30px;
  max-height: 30px;
}
}

@media screen and (min-width:577px) and (max-width:991px){
  .box-container{
    max-width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width:992px) and (max-width:1199px){
  .box-container{
    max-width: calc(100% / 4 - 30px);
  }
}