.upper-bar button{
  color:white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  vertical-align: middle;
}

.side-bar ul img{
  width:30px;
}


.side-bar-section:nth-of-type(4){
  flex-grow:1;
  overflow: auto;
}

.side-bar-section:nth-of-type(1){
  margin-top:0;
}

.side-bar-section:nth-of-type(2) img{
  filter: opacity(0.5);
}

.side-bar li img,span{
  vertical-align: middle;
}

.side-bar li a{
  font-size: 13px;
}

.side-bar-download img, span{
  vertical-align: middle;
}

.side-bar-download img{
  width:20px;
  filter: opacity(0.5);
}

.side-bar li{
  margin-bottom:10px;
}

.add-playlist>button{
  width:50px;
  height: 50px;
  font-size: 50px;
  background-color: #878787;
  color:black;
  position: relative;
  vertical-align: middle;
}

.add-playlist>button div{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.nav-bar li{
  display: inline-block;
}

.nav-bar a{
  padding: 20px;
}

.box-image img{
  width: 100%;
  height: 100%;
}

.main-content h2{
  margin-bottom: 15px;
}

.row .box-container{
  display:inline-block;
}

.box-image.artist-box img{
  border-radius: 50%;
}

.play-bar-image img{
  max-width: 50px;
  max-height: 50px;
}

.play-bar-actions button{
  display:block;
}

.play-bar-section:nth-of-type(2){
  flex-direction: column;
  width: 50%;
}

.play-bar-section:nth-of-type(3){
  justify-content:flex-end;
}

.play-bar-mini-buttons button{
  padding: 0 2px;
}

.play-bar-buttons i{
  font-size: 15px;
  padding: 0 10px;
}


/*******************************************/
.main-container{
  width: 100%;
  height: calc(100vh - 100px);

  display: flex;
  flex-direction:row;
}

.side-bar{
  background-color: #000000;
  flex-shrink: 0;
  padding:20px;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo-small{
  display:none;
}

.side-bar-section{
  width: 100%;
  margin-top:20px;
}

.add-playlist{
  margin-top:20px;
}

.side-bar-download{
  border-bottom: 1px solid #878787;
  font-size: 12px;
  padding-bottom: 5px;
}

.side-bar-user{
  margin-top:20px;
}

.user-image{
  width:25px;
  height: 25px;
  background-color: #878787;
  border-radius: 50%;
  display:inline-block;
  object-fit: contain;
  overflow:hidden;
  vertical-align: middle;
  margin-right: 5px;
}

.user-name{
  display:inline-block;
  vertical-align:middle;
  cursor:default;
}


.upper-bar{
  padding:20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
}

.middle-content{
  width:100%;
  height: 100%;
  background-color: #141922;
  color: #878787;
  overflow: auto;
}

.nav-bar{
  padding: 20px;
  font-size: 12px;
  text-align: center;
}

.main-content{
  padding:15px;
}

.row{
  display:flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  gap:30px;
  margin: 30px 0;
}
.box-container{
  max-width: calc(100% / 6 - 30px);
  max-height: 100%;
  text-align: center;
  font-size:13px;
}

.box-image{
  object-fit: contain;
  padding-bottom: 20px;
}

.box-title{
  padding-bottom: 10px;
}


.bottom-play-bar{
  height: 100px;
  padding:10px;
  background-color: #282828;
  
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.play-bar-section{
  display:flex;
  align-items: center;
  width:25%;
}

.play-bar-image{
  object-fit: contain;
}

.play-bar-artist{
  min-width: 50px;
  max-width: 100px;
  font-size: 10px;
  padding: 0 5px;
}


.play-bar-buttons{
  display:flex;
  justify-content: center;
  margin-bottom: 10px;
  
}

.play-bar-progression{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-bar-time{
  color:white;
  padding: 0 10px;
  font-size: 12px;
}

.progression-bar{
  height: 5px;
  background-color: #5a5a5a;
  border-radius: 20px;
  flex-grow: 1;
}

.progression-bar-status{
  width:30%;
  background-color: #c1c1c1;
  height: 5px;
}

.progression-bar-mini{
  width:80px;
  flex-grow:0;
}

.play-bar-mini-buttons{
  min-width: 70px;
}

.far.fa-play-circle{
  font-size: 30px;
}


