.upper-bar button{
  color:white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  vertical-align: middle;
  cursor:pointer;
}

.side-bar ul img{
  width:30px;
}


.side-bar-section:nth-of-type(4){
  flex-grow:1;
  overflow: auto;
}

.side-bar-section:nth-of-type(1){
  margin-top:0;
}

.side-bar-section:nth-of-type(2) img{
  filter: opacity(0.5);
}

.side-bar li img,span{
  vertical-align: middle;
}

.side-bar li a{
  font-size: 13px;
}

.side-bar-download img, span{
  vertical-align: middle;
}

.side-bar-download img{
  width:20px;
  filter: opacity(0.5);
}

.side-bar li{
  margin-bottom:10px;
}

.add-playlist>button{
  width:50px;
  height: 50px;
  font-size: 50px;
  background-color: #878787;
  color:black;
  cursor:pointer;
  position: relative;
  vertical-align: middle;
}

.add-playlist>button div{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.nav-bar li{
  padding: 0 10px;
  display: inline-block;
}
/*******************************************/
.main-container{
  width: 100%;
  height: calc(100vh - 100px);

  display: flex;
  flex-direction:row;
}

.side-bar{
  background-color: #000000;
  flex-shrink: 0;
  padding:20px;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo-small{
  display:none;
}

.side-bar-section{
  width: 100%;
  margin-top:20px;
}

.add-playlist{
  margin-top:20px;
}

.side-bar-download{
  border-bottom: 1px solid #878787;
  font-size: 12px;
  padding-bottom: 5px;
}

.side-bar-user{
  margin-top:20px;
}

.user-image{
  width:25px;
  height: 25px;
  background-color: #878787;
  border-radius: 50%;
  display:inline-block;
  object-fit: contain;
  overflow:hidden;
  vertical-align: middle;
  margin-right: 5px;
}

.user-name{
  display:inline-block;
  vertical-align:middle;
  cursor:default;
}


.upper-bar{
  padding:20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
}

.middle-content{
  width:100%;
  height: 100%;
  background-color: #141922;
  color: #878787;
}

.nav-bar{
  padding: 20px;
  font-size: 12px;
  text-align: center;
}

.main-content{
  padding:15px;
}

.bottom-play-bar{
  height: 100px;
  background-color: blue;
}

.box-container{
  background-color: green;
}

.box-image{
  background-color: red;
}